button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
    resize: none;
}

.panel-heading button.delete, button.edit {
  float: right;
  margin: 5px;
}
button.delete {
  color: red;
}
